__pycache__/
.venv/
.vscode/
checkpoints/
logs/
models/
!configs/models
outputs/
runs/
test/
trackmania-gym-docs/
wandb/

ppo.mkd
readme.MD
conda_env.yml
Dockerfile
.gitignore
setupvgl.sh
*.def
*.sif
LICENSE

